Repository czbiohub-sf/iohub, pull requests merged in 2023-05, with the labels that each got.

#122 Set transformation metadata for existing NGFF datasets
  iohub/ngff.py
  tests/ngff/test_ngff.py
Labels: enhancement, NGFF

#112 Pydata theme for documentation
  .github/workflows/docs.yml
  .gitignore
  docs/source/_static/switcher.json
  docs/source/api.rst
  docs/source/api/clearcontrol.rst
  docs/source/api/mm_converter.rst
  docs/source/api/mm_ometiff_reader.rst
  docs/source/api/mm_reader.rst
  docs/source/api/mm_sequence_reader.rst
  docs/source/api/ndtiff.rst
  docs/source/api/ngff.rst
  docs/source/api/upti.rst
  docs/source/conf.py
  docs/source/contact_us.rst
  docs/source/getting_started.rst
  docs/source/getting_started/install.rst
  docs/source/index.rst
  iohub/ndtiff.py
  iohub/ngff.py
  setup.cfg
Labels: documentation, CI

#127 Fix theme dependency
  setup.cfg
Labels: bug, documentation

#118 Convert scale metadata
  iohub/cli/cli.py
  iohub/convert.py
  iohub/multipagetiff.py
  iohub/ndtiff.py
  iohub/ngff.py
  tests/cli/test_cli.py
  tests/test_converter.py
Labels: enhancement, NGFF, μManager

#119 add ngff node pyramid initialization
  iohub/ngff.py
  tests/pyramid/__init__.py
  tests/pyramid/test_pyramid.py
Labels: enhancement, NGFF
