Repository czbiohub-sf/iohub, pull requests merged in 2025-03, with the labels that each got.

#276 Compare MM FOVs
  iohub/mm_fov.py
  tests/mmstack/test_mmstack.py
Labels: bug, μManager

#279 Set contrast limits method
  iohub/ngff/nodes.py
  tests/ngff/test_ngff.py
Labels: enhancement, NGFF

#280 Check overwrite path
  iohub/ngff/nodes.py
  tests/ngff/test_ngff.py
Labels: NGFF, breaking

#283 Fix test combine FOVs
  tests/ngff/test_ngff.py
Labels: NGFF, CI

#284 make nodes.Position.metadata.omero an optional attribute
  iohub/ngff/models.py
  iohub/ngff/nodes.py
  iohub/reader.py
  tests/cli/test_cli.py
Labels: bug, NGFF

#277 Bump supported python range to 3.11-3.13
  .github/workflows/pr.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  setup.cfg
Labels: maintenance

#272 Support metadata for `.zarr` converted from `.nd2` using `bioformats2raw` conversion
  iohub/ngff/models.py
Labels: bug, NGFF

#285 Set default pixel size for old NDTiff format
  iohub/ndtiff.py
Labels: μManager
